<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="TheFreshGrocer">

	<!-- Suite -->

	<test name="Chrome test">

		<!-- <class name="regressionTests.BrandsTest" /> <class name="regressionTests.CategoriesTest" 
			/> <class name="regressionTests.ClippedCouponExistsTest" /> <class name="regressionTests.PrintClippedCoupons_CheckShowImg_Test" 
			/> <class name="regressionTests.PrintClippedCoupons_UnCheckShowImg_Test" 
			/> <class name="regressionTests.ValidateSingleCategoryUnderCategoriesListedTest" 
			/> -->

		<parameter name="browser" value="chrome"></parameter>
		<parameter name="environment" value="staging"></parameter>

		<classes>
			<class name="myAccountPageTests.validateMessageForInvalidContactType" />
		</classes>


	</test>

	<test name="Firefox test">

		<parameter name="browser" value="firefox"></parameter>
		<parameter name="environment" value="staging"></parameter>

		<classes>
			<class name="myAccountPageTests.validateMessageForInvalidContactType" />
		</classes>


	</test>

	<!-- Suite -->
</suite>