<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="TheFreshGrocer">

	<!-- Suite -->

	<test name="Regression test" thread-count="1">

<!-- <class name="regressionTests.BrandsTest" />
			<class name="regressionTests.CategoriesTest" />
			<class name="regressionTests.ClippedCouponExistsTest" />
			<class name="regressionTests.PrintClippedCoupons_CheckShowImg_Test" />
			<class name="regressionTests.PrintClippedCoupons_UnCheckShowImg_Test" />
			<class
				name="regressionTests.ValidateSingleCategoryUnderCategoriesListedTest" /> -->
				
		<parameter name="browser" value="chrome"></parameter>
		<parameter name="environment" value="staging"></parameter>

		<classes>
			<class name="regressionTests.BrandsTest" />
			<class name="regressionTests.CategoriesTest" />
			<class name="regressionTests.ClippedCouponExistsTest" />
			<class name="regressionTests.PrintClippedCoupons_CheckShowImg_Test" />
			<class name="regressionTests.PrintClippedCoupons_UnCheckShowImg_Test" />
			<class
				name="regressionTests.ValidateSingleCategoryUnderCategoriesListedTest" />
		</classes>


	</test>

	<!-- Suite -->
</suite>