<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="TheFreshGrocer">

	<!-- Suite -->

	<test name="Regression test" thread-count="1">
		<!-- <class name="regressionTests.LoginTest" /> 
		<class name="regressionTests.ProductDetailsTest" /><packages> <package name="regressionTests"></package> 
			</packages> -->
			
			
		<parameter name="browser" value="chrome"></parameter>
		<parameter name="environment" value="staging"></parameter>
		
		<classes>
			<class name="regressionTests.CouponDetailsTest" />
		</classes>


	</test>

	<!-- Suite -->
</suite>